.row {
  margin-right: 0px;
  margin-left: -15px;
}

.title{
  transform: translateX(-40%);
}

.layout-container{
  display: flex;
  flex-direction: column;
  min-height: 70vh;

}

.select{
  color: black;
}

.number{
  background: rgb(247, 247, 247);
  height: 10%;
  color: black;
  border-radius: 4px;
  border: none;
  margin-left: 5px;
  margin-bottom: 20px;
}

.dateMaterial{
  margin-left: 5px;
  border-radius: 3px;
  border: 1px solid rgba(182, 182, 182, 0.525);
  padding: 3px;
}

.p-5{
  padding: 40px 0 20px !important;
}


