@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

#root {
  margin: 0;
  font-family: IBM Plex Sans;
  height: 100%;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 70vh;
}

.border-bottomer {
  border-bottom: rgba(255, 255, 255, 0.634) 1px solid;
}

.border-toper {
  border-top: white 1px solid;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.hidden {
  display: none;
}